
body {
    
    background-image: url('./layer2.png');
    background-repeat: repeat;
    background-position: center;
    background-size:cover;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

header {
    background-color: #793636;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: transform 0.5s;
}

.hidden {
    transform: translateY(-100%);
}

nav {
    background-color: #442020;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

#model-container canvas {
    border: 2px solid #333;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* .zoomable-image {
    transition: transform 0.3s ease-in-out;
}

.zoomable-image:hover {
    transform: scale(1.2);
} */

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.fade-in-element {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

